.selectStyle{
    padding: 8px 15px;
    font-weight: 600;
    border-radius: 6PX;
    cursor:pointer;
    border-color:#e0e0e0;
    margin-left: 15px;
}
.coinName{
    padding-left:25px!important;
    vertical-align:middle;
    @include bp(mobile) {
        padding-left:5px !important;
    };
}
.loadingClass{
    text-align: center;
    font-weight: 700;
    font-family: monospace;
}
.mainCoinshow{
    background-color: #fff;
    padding: 25px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 7px rgba(118, 118, 118, 0.18);
    border-radius: 0
}
.float_left{
    float: left;
}
.clear{
    clear: both;
}
.top_pad_heading{
    font-size: 24px;
    font-weight: bold;
}
.top_pad_heading span{
    font-size: 18px ;
    font-weight: normal
}
// .t--red,.t--green{
//     font-size: 16px
// }


.column {
    float: left;
    width: 33.33%;
    @include bp(tablet) {
        width: auto;
        float:none;
	};
}
.makeBold{
    font-weight:600;
}
.makeHeading{
    font-weight:600;
    font-size: 20px;
}
.smallHeading{
    font-size:12px;
}
.primarybtn{
    background-color: #4292D6;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 #b7b5b5;
    cursor: pointer;
}
h2 span{
    font-size: 18px;
    font-weight: normal
}
.chartHeading{
    font-size: 28px;
    color: rgb(118, 123, 127);
    @include bp(tabletMax) {
        font-size: 20px;
        color: rgb(118, 123, 127);
    };
    @include bp(mobile){
        font-size:16px;
    }
}
.chartSubHeading{
    font-size: 14px;
    font-weight: 600;
    @include bp(tabletMax) {
        font-size: 13px;
        font-weight: 600;
    };
}
.allTableHeading{
    padding: 35px 0px 15px;
    font-weight: 600;
    font-size: 20px;
}
.chartHeadSt{
    font-size: 24px;
    @include bp(tabletMax) {
        font-size: 20px;
    };
}
.tooltipStyle {
    max-width: 75%;
}