/*
.headingStyle{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbarHeader{
    float:left;

}
.navbar{
    position: relative;
    min-height: 50px;

    border: 1px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
}
.navbarInverse{
    background-color: #222;
    border-color: #080808;
}
.navbarToggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border-color: #333;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display:none;
}
.navbarToggleIconBar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 3px;
}
.navbarBrand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    color:#fff;
    line-height: 20px;
}
.navbarNav{
    float: left;
    margin: 0;
}
.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navLi{
    position: relative;
    display: block;
}
.floatLeft{
    float:left;
}
.navbarNavLiA{
    color:#9d9d9d;
}
.navbarLiA{
    padding-top: 15px;
    padding-bottom: 15px;
}
.navLiA{
    position: relative;
    display: block;
    padding: 14px 15px;
    color:#9d9d9d;
    
}
.containerFluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 600px) {
    .navbarToogle {
      display:block;
    }
  }

*/
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(236, 236, 236);
	// margin: 1em;
	color: rgb(19, 51, 61);
}

// p {
// 	font-size: 18px;
// 	line-height: 1.5;
// 	font-weight: bold;
// 	color: rgb(51, 51, 51);
// 	max-width: 55em;
// }

// p a {
// 	color: rgb(41, 183, 206);
// 	text-decoration: none;
// }

// strong {
// 	// color: rgb(41, 183, 206);
// }

nav {
	font-size: 12px;
	// background-color: rgb(19, 51, 61);
	// box-shadow: 0 1px 2px rgba(19, 51, 61, 0.5);
	// margin: 3em 0 6em;
	
	height: 44px; /* Menu height */
	overflow: hidden; /* Don't show anything outside the nav */
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 88px; /* Menu height x 2 */
	position: relative; /* Position the menu button relative to this item */
}

nav li {
	display: inline-block;
}

nav ul li:first-child a{
    padding-left: 0;
    @include bp(mobile) {
        padding: 0 25%
    };
    
}

nav ul li:first-child a:hover{
    background: none
}

nav a {
	display: inline-block;
	padding: 0 1em;
	color: rgb(236, 236, 236);
	font-weight: 700;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
	line-height: 44px; /* Menu height */
    height: 44px; /* Menu height */
    
}
.navbrand_logo{
	display: inline-block;
	padding: 0 1em;
	color: rgb(236, 236, 236);
	font-weight: 700;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
    white-space: nowrap;
	line-height: 44px; /* Menu height */
    height: 44px; /* Menu height */
    
}
.c-header .grid-container{
    @include bp(mobile) {
        padding: 0
    };
}
.navbrand{
    font-size:18px;
    @include bp(mobile) {
        font-size:18px;
        
        padding-right: 10em;
    };
    // .navbrand:hover {
    //     background-color: rgba(40,40,40,0);
    // }
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

nav li:last-child { /* The menu button */
	position: absolute; /* Move the menu button out of flow */
	right: 0;
	bottom: 44px; /* Move upwards, the same distance as the menu height */
	// background-image: linear-gradient(to right, rgba(19, 51, 61, 0) 0, rgba(19, 51, 61, 1) 2em);
	// padding-left: 3em;
    padding-left: 1em;
    padding-right:  0px;
    font-size:17px;
}
nav li:last-child a {
    font-size:30px;
    padding: 0 10px;
}

nav li:nth-last-child(2) { 
	display: none;
}


nav#menu:target {
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s; 
}

nav#menu:target ul {
	max-height: none;
}

nav#menu:target li {
	display: block;
}

nav#menu:target a {
	display: block;
	background-color: rgba(255, 255, 255, 0.05);
}

nav#menu:target a:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

nav#menu:target li:not(:first-child) {
    border-bottom: 1px solid #424242;
}

nav#menu:target li:last-child {
	display: none;
}

nav#menu:target li:nth-last-child(2) {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border-left: 2px solid rgb(19, 51, 61);
}
.coinHead{
    color:#4292d6;
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 24px;
    height: 20px;
    right: 18px;
    top: 24px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fff;
    height: 13% !important;
}
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #232323;
    padding: 2em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;

  }
  .bm-item-list a{
      border-bottom: 1px solid #424242
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  #menu{
    font-size:18px;
    @include bp(mobile) {
        display: none
    };
    }


    
    .bm-menu-wrap{
        @include bp(laptop) {
            display: none
        };
        @include bp(tablet) {
            display: none
        };
    }


    .bm-burger-button{
        @include bp(laptop) {
            display: none
        }; 

        @include bp(tablet) {
            display: none
        };
        
        
    }
    .navbrand_logo{
        @include bp(laptop) {
            display: none
        }; 

        @include bp(tablet) {
            display: none
        };
    }


    .bm-menu-wrap{
        width: 100% !important;
        top: 0
    }