table {
    border-collapse: collapse;
    width: 100%;
    // margin-bottom: 1rem;
    border-radius: 3px; }

// table thead,
// table tbody,
// table tfoot {
//     border: 1px solid #f1f1f1;
//     background-color: #fefefe; }
table caption {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold; }
table thead {
    // background: #f8f8f8;
    color: #0a0a0a; 
    font-size:14px;
    border-bottom: 2px solid #f0f0f0;
}
table tfoot {
    background: #f1f1f1;
    color: #0a0a0a; }
table tr {
    border-bottom: 1px solid #f0f0f0;
    &:first-child {
        th {
            vertical-align: middle;
            padding: .5rem .625rem;
            @include bp(tablet) {
                padding: 1rem .625rem;
            };
        }

        .headcol,
        .headcol2 {
            padding: 1rem .625rem 1.2rem .625rem;
            border-top: 1px solid #f0f0f0;
            @include bp(tablet) {
                padding: 1rem .625rem;
                border-top: none;
            };
        }
    }
    &:last-child {
        border-bottom: none;

        .headcol2 {
            border-bottom-width: 1px;
        }
    }
}
table thead tr,
table tfoot tr {
    background: transparent;
}

table thead th,
table thead td,
table tfoot th,
table tfoot td {
    // padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left; }
table tbody th {
    font-weight: 600;
}
table tbody th,
table tbody td {
    padding: 1.1rem 0.625rem;
    font-size: 14px;
    text-align: left;
    vertical-align: middle; }

table tbody tr:nth-child(even) {
    // border-bottom: 0;
    // background-color: #f1f1f1;
}
table tbody tr:nth-child(even) .headcol,
table tbody tr:nth-child(even) .headcol2{
    // border-bottom: 0;
    // background-color: #f1f1f1;
}
table.unstriped tbody {
    background-color: #fefefe; }
table.unstriped tbody tr {
    border-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fefefe; }

@media screen and (max-width: 63.9375em) {
    table.stack thead {
        display: none; }
    table.stack tfoot {
        display: none; }
    table.stack tr,
    table.stack th,
    table.stack td {
        display: block; }
    table.stack td {
        border-top: 0; } }

    table.scroll {
        display: block;
        width: 100%;
        overflow-x: auto; }

    table.hover thead tr:hover {
        background-color: #f3f3f3; }

    table.hover tfoot tr:hover {
        background-color: #ececec; }

    table.hover tbody tr:hover {
        background-color: #f9f9f9; }

    table.hover:not(.unstriped) tr:nth-of-type(even):hover {
        background-color: #ececec; }

    .table-scroll {
        overflow-x: auto; }

    .table-scroll table {
        width: auto; }
    .bold_number{
        font-weight: bold
    }
    .main{
        @include bp(mobile) {
         background: #fff
        };
    }
    .main .grid-container{
        @include bp(mobile) {
         padding-left: 5px;
         padding-right: 5px;
        };
    }
.react-bs-table table {
    // table-layout: auto !important;
}
.react-bs-table-bordered{
    border-radius: 0 !important; 
}
.right_btn {
    padding-top: 15px;
    text-align: center

}